{% extends 'customer/base2.html' %}
{% load static %}
{% block content %}
    <div class="row">
      <div class="col-md-12 text-center mt-5 ftco-animate">
        <h2 class="display-4 pt-3">Offers &amp; Promos</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="container mb-5">
        <div class="row justify-content-center mt-1">
            <div class="col-md-12 col-sm-12 p-4">
    
                <form method="POST">
                    {% csrf_token %}
                    <div class="pt-5">
                        <div class="row justify-content-center">
                        {% for app in appetizers %}
                            <div class="col-md-4 col-sm-12 text-center media d-block ">
                                <div class="mb-4 text-center ftco-media ftco-animate border-0">
                                    <img class="img-fluid rounded" src="{{ app.image.url }}" width="250" height="200"/>
                                </div>
                                <div class="ml-4">
                                    <h5 class="display-6">{{ app.name }}</h5>
                                    <h5 class="text-primary mb-3">${{ app.price }}</h5>
                                    <p>{{ app.description }}</p>
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <div class="form-control">
                                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ app.pk }}">
                                        </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr />

                    <div class="pt-5">
                        <div class="row justify-content-center">
                        {% for entree in entres %}
                            <div class="col-md-4 col-sm-12 text-center media d-block ">
                                <div class="mb-4 text-center ftco-media ftco-animate border-0">
                                    <img class="img-fluid rounded" src="{{ entree.image.url }}" width="250" height="200"/>
                                </div>
                                <div class="ml-4">
                                    <h5 class="display-6">{{ entree.name }}</h5>
                                    <h5 class="text-primary mb-3">${{ entree.price }}</h5>
                                    <p>{{ entree.description }}</p>
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <div class="form-control">
                                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ entree.pk }}">
                                        </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
    
                    <div class="pt-5">
                        <div class="row justify-content-center">
                        {% for dessert in desserts %}
                            <div class="col-md-4 col-sm-12 text-center media d-block ">
                                <div class="mb-4 text-center ftco-media ftco-animate border-0">
                                    <img class="img-fluid rounded" src="{{ dessert.image.url }}" width="250" height="200"/>
                                </div>
                                <div class="ml-4">
                                    <h5 class="display-6">{{ dessert.name }}</h5>
                                    <h5 class="text-primary mb-3">${{ dessert.price }}</h5>
                                    <p>{{ dessert.description }}</p>
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <div class="form-control">
                                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ dessert.pk }}">
                                        </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>

                    <div class="pt-5">
                        <div class="row justify-content-center">
                        {% for drink in drinks %}
                            <div class="col-md-4 col-sm-12 text-center media d-block ">
                                <div class="mb-4 text-center ftco-media ftco-animate border-0">
                                    <img class="img-fluid rounded" src="{{ drink.image.url }}" width="250" height="200"/>
                                </div>
                                <div class="ml-4">
                                    <h5 class="display-6">{{ drink.name }}</h5>
                                    <h5 class="text-primary mb-3">${{ drink.price }}</h5>
                                    <p>{{ drink.description }}</p>
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <div class="form-control">
                                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                        </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    
    
                    <div class="form-group pt-3">
    
                        <label for="name">Full Name</label>
                        <input required class="form-control" type="text" placeholder="Your Name" name="name"/>
                    </div>
                    <div class="form-group pt-3">
                        <label for="name">Email</label>
                        <input required class="form-control" type="text" placeholder="example@company.com" name="email"/>
                    </div>
                    <div class="form-group pt-3">
                        <label for="name">Street Address</label>
                        <input required class="form-control" type="text" placeholder="1234 Main st" name="street"/>
                    </div>
    
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group pt-3">
                                <label for="name">City</label>
                                <input required class="form-control" type="text" placeholder="San francisco" name="city"/>
                            </div>
                        </div>
    
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group pt-3">
                                <label for="name">State</label>
                                <input required class="form-control" type="text" placeholder="CA" name="state"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group pt-3">
                                <label for="name">Zip Code</label>
                                <input required class="form-control" type="text" placeholder="94117" name="zip"/>
                            </div>
                        </div>
                    </div>
                    
    
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal">
                        Submit Order
                    </button>
    
                    <div id="myModal" class="modal fade">
                        <div class="modal-dialog justify-content-center">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="oi icon-check">
                                        <span class="oi icon-check"></span>
                                    </div>				
                                    <h4 class="modal-title w-100">Awesome!</h4>	
                                </div>
                                
                                <div class="modal-body">
                                    <p class="text-center">Thank you for order! <br> Your food is being made and will be delivered soon. Check your email for detials.</p>
                                    <!--p class="font-weight-bold pt-4">Total: {{ price }}</p-->
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success btn-block" data-toggle="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    
                    </div> 
                     <!-- END Modal -->
        </div> 
                </form>
            </div>
    
        </div>
    </div>
     

{% endblock content %}